# Backend
/backend/target/
/backend/bin/
backend/*.class
backend/*.log
backend/*.jar
backend/*.war
backend/*.iml
/backend/.idea/
/backend/.DS_Store
/backend/.project
/backend/.vscode/
/backend/src/main/resources/application.properties

# Frontend
/frontend/logs
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*
/frontend/lerna-debug.log*
/frontend/node_modules
/frontend/.env
/frontend/dist
/frontend/dist-ssr
/frontend/*.local
/frontend/.vscode/*
!/frontend/.vscode/extensions.json
/frontend/.idea
/frontend/.DS_Store
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.sw?
